/* The following block can be included in a custom.scss */
// @import "../../node_modules/bootstrap/scss/bootstrap";


// /* make the customizations */
// $theme-colors: (
//   "primary":    #003f2e,
//   "secondary":  #5f7e70
// );

@use 'colors.module.scss';
// $primary: map-get($map: "theme-colors", $key: "primary");

/* import bootstrap to set changes */
// @use '../../node_modules/bootstrap/scss/bootstrap.scss';

.accordion-button {
    &:not(.collapsed) {
        background-color: rgba(colors.$primary, 0.3);
        color: black;
        border: none;
    }
}

.btn.btn-light {
    border-color: colors.$primary;
    background-color: white;


    &:hover {
        background-color: rgba(colors.$secondary, 0.1);
    }

    &:active {
        background-color: rgba(colors.$secondary, 0.3);
    }
}

.btn.btn-primary {
    background-color: colors.$primary;
    border-color:  colors.$primary;

    &:hover {
        background-color: rgba(colors.$primary, 0.9);
    }

    &:active {
        background-color: rgba(colors.$primary, 0.3);
        // border-color: inherit;
    }
}



#main {
    // height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

#app-container {
    flex-grow: 1;
    display: flex;
}

body {
    margin: 0;
    background: colors.$primary;
    display: flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.placeholder {
    background-color: rgb(168, 168, 168);
    border-radius: 5px;
}