@use 'colors.module.scss';

$border-radius: 10px;

#scheduler {
    background-color: rgb(0, 0, 0);
    border-radius: $border-radius;
    flex-grow: 1;
    border: 1px solid black;
    // overflow: hidden;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1px;
    font-size: 9px;
    user-select: none;
    -webkit-user-select: none;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    // grid-auto-rows: min-content;
    // grid-template-rows: repeat(5, 20%);
    // grid-template-columns: repeat(5,20%);
    // height: calc();

    &::-webkit-scrollbar {
        display: none;
    }

    .time {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: colors.$time;
        text-wrap: nowrap;
        overflow: hidden;
        // max-width: 80px;

        // border: 1px solid black;
        box-sizing: border-box;
        // cursor: pointer;
        // &:hover {
        //     background-color: rgb(190, 190, 190);
        // }

        // &:last-child {
        //     border-bottom: none;
        // }
    }
    

    .global-activity {
        background-color: colors.$global;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: white;
        cursor: pointer;
        // border: 1px solid red;
        // position: relative;

        // &::after {
        //     content: '';
        //     top: -1px;
        //     right: -1px;
        //     bottom: -1px;
        //     left: -1px;
        //     position: absolute;
        //     border: 1px solid transparent;

        //     &:hover {
        //         cursor: row-resize;
        //     }
        // }
    }

    .header {
        // outline: 1px solid black;
        padding: 2px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        // min-width: 100px;

        &:last-child {
            border-right: none;
        }

        &.element {
            background-color: colors.$element;
        }
    
        &.program {
            background-color: colors.$program;
        }

        &.error {
            // border: 1px solid colors.$error;
            // border-radius: 2px;
            box-shadow: inset 0 0 10px -2px colors.$error;
        }

        &.warning {
            // border: 1px solid colors.$warning;  
            // border-radius: 2px;
            box-shadow: inset 0 0 10px 10px colors.$warning;
        }
    }

    :last-child > .scol {
        border-bottom: none;
    }

    .workarea {
        background-color: white;
        cursor: pointer;
        &:hover, &.hover-class {
            background-color: #e1f7df;
        }

        &.dragging {
            background-color: rgb(224, 231, 236);
        }
    }

    .loading-cell {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        .placeholder {
            flex-grow: 1;
            border-radius: 0px;
            margin: 5px;
        }
    }




    .scheduled {
        background-color: colors.$masterActivity;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        cursor: pointer;

        &.warning {
            box-shadow: inset 0 0 10px 0px colors.$warning;
            z-index: 1;
        }

        &.error {
            box-shadow: inset 0 0 10px 0px colors.$error;
            z-index: 1;
        }
    
        
    }

    .activity-popover {
        background-color: white;
        font-size: 14px;
        border-radius: 5px;
        // padding: 2px;
        border: 1px solid black;
        box-shadow: 4px 4px 10px rgb(113, 113, 113);
        z-index: 2;

        #header {
            border-bottom: 1px solid black;
            padding: 0px 5px 0px 5px;
            font-weight: bold;
        }

        #body {
            font-size: 12px;
            margin: 5px;

            .form-control {
                font-size: inherit;
            }

            .btn {
                font-size: inherit;
                width: 100%;
            }
        }

        #form-footer {
            margin-top: 5px;
            display: flex;
        }
    }
}

.activity-analysis-tooltip {
    font-size: 10px;
    text-align: left;

    .error {
        color: colors.$error;
    }

    .warning {
        color: colors.$warning;
    }
}


